{% extends 'base.html' %}

{% block title %}Delete {{ profile.name }} | {{ block.super }} {% endblock title %}

{% block content %}

{% if profile %}

	<center>
		<form action="" method='post'>
			{% csrf_token %}
			<h4>Delete {{ profile.name }} whose email is {{ profile.email }}?</h4>
			<input type="submit" class="btn btn-danger" value="Confirm"/>
			<a href="{% url 'crudapp:detail' id=profile.id %}" class="btn btn-info">Cancel</a>
		</form>
	</center>
	
{% else %}

<h1>No pofile</h1>

{% endif %}

{% endblock content %}